@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:root {
    --color-surface: #3d3d3d;
    --color-on-surface: #fff;
    --color-primary: #ff5a5f;

    --primary-font: 'Pacifico', cursive;
    --secondary-font: 'Amatic SC', cursive;
}

.container-home {

}

.container-home{
  max-width: 1920px;
  margin: 0 auto;
}
.form {
  margin: 0 auto;
  width: 400px;
  padding: 10px;
}

.input-box-home {
  display: flex;
  flex-direction: column;
}
.toolbar{
    background-color: black;
    display: flex;
}

.titulo{
    font-family: var(--primary-font);
    color: aliceblue;
    align-self: center;
}
